
@font-face{
font-family:"DIN 1451 W02 Engschrift";
src:url("../fonts/42a75d77-1570-4aed-95a6-b25e5fbd40a2.eot?d44f19a684109620e484157da790e818891cc8cd78698f891ba20897d3bcfaa97fbea3db77ba7016b28c2ef17bfd66a278946e6df5a53902cffce79e07adb95debc89223fd0b9b328b21c0da47a2112f8f121db2867934129e9234cc57cef50e3cbdd7b34363e3f5dfa1e49d54e069691bf1158080641a92817e35c27e54098125eb6c682cdf6ed2a74944d1&projectId=42dfc386-989c-4d6c-ba34-3c50cbaea101") format("eot");
}
@font-face{
font-family:"DIN 1451 W02 Engschrift";
src:url("../fonts/42a75d77-1570-4aed-95a6-b25e5fbd40a2.eot?d44f19a684109620e484157da790e818891cc8cd78698f891ba20897d3bcfaa97fbea3db77ba7016b28c2ef17bfd66a278946e6df5a53902cffce79e07adb95debc89223fd0b9b328b21c0da47a2112f8f121db2867934129e9234cc57cef50e3cbdd7b34363e3f5dfa1e49d54e069691bf1158080641a92817e35c27e54098125eb6c682cdf6ed2a74944d1&projectId=42dfc386-989c-4d6c-ba34-3c50cbaea101");
src:url("../fonts/0d19a47c-0518-4ca2-bb5a-27b3c4a86ab8.woff?d44f19a684109620e484157da790e818891cc8cd78698f891ba20897d3bcfaa97fbea3db77ba7016b28c2ef17bfd66a278946e6df5a53902cffce79e07adb95debc89223fd0b9b328b21c0da47a2112f8f121db2867934129e9234cc57cef50e3cbdd7b34363e3f5dfa1e49d54e069691bf1158080641a92817e35c27e54098125eb6c682cdf6ed2a74944d1&projectId=42dfc386-989c-4d6c-ba34-3c50cbaea101") format("woff"),url("../fonts/660e75b9-80fe-4905-9eda-92085178a97f.ttf?d44f19a684109620e484157da790e818891cc8cd78698f891ba20897d3bcfaa97fbea3db77ba7016b28c2ef17bfd66a278946e6df5a53902cffce79e07adb95debc89223fd0b9b328b21c0da47a2112f8f121db2867934129e9234cc57cef50e3cbdd7b34363e3f5dfa1e49d54e069691bf1158080641a92817e35c27e54098125eb6c682cdf6ed2a74944d1&projectId=42dfc386-989c-4d6c-ba34-3c50cbaea101") format("truetype"),url("../fonts/8b8653d0-c004-4d20-92c4-246717628dd2.svg?d44f19a684109620e484157da790e818891cc8cd78698f891ba20897d3bcfaa97fbea3db77ba7016b28c2ef17bfd66a278946e6df5a53902cffce79e07adb95debc89223fd0b9b328b21c0da47a2112f8f121db2867934129e9234cc57cef50e3cbdd7b34363e3f5dfa1e49d54e069691bf1158080641a92817e35c27e54098125eb6c682cdf6ed2a74944d1&projectId=42dfc386-989c-4d6c-ba34-3c50cbaea101#8b8653d0-c004-4d20-92c4-246717628dd2") format("svg");
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
font-family: sans-serif; /* 1 */
-ms-text-size-adjust: 100%; /* 2 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
margin: 0;
}

/* HTML5 display definitions
 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,canvas,progress,video {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
display: none;
height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],template {
display: none;
}

/* Links
 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,a:hover {
outline: 0;
}

/* Text-level semantics
 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,strong {
font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
font-size: 2em;
margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
background: #ff0;
color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
top: -0.5em;
}

sub {
bottom: -0.25em;
}

/* Embedded content
 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
overflow: hidden;
}

/* Grouping content
 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,kbd,pre,samp {
font-family: monospace, monospace;
font-size: 1em;
}

/* Forms
 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,input,optgroup,select,textarea {
color: inherit; /* 1 */
font: inherit; /* 2 */
margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,select {
text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,html input[type="button"], /* 1 */
input[type="reset"],input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],html input[disabled] {
cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,input::-moz-focus-inner {
border: 0;
padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
border: 0; /* 1 */
padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
font-weight: bold;
}

/* Tables
 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
border-collapse: collapse;
border-spacing: 0;
}

td,th {
padding: 0;
}
body{font:14px/1.6em "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;background:#fff;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.container{max-width:1160px;margin:0 auto;background:#e7e7e7}.lbox{margin:10px}.img100{width:100%;display:block}.main-button{background:#155582;text-transform:uppercase;color:#fff;padding:9px 15px;font-family:'DIN 1451 W02 Engschrift';text-decoration:none;font-size:14px}.white-button{text-transform:uppercase;color:#fff;border:2px solid #fff;padding:8px 15px;font-family:'DIN 1451 W02 Engschrift';text-decoration:none;font-size:13px}

.swipe {
overflow: hidden;
visibility: hidden;
position: relative;
}
.swipe-wrap {
overflow: hidden;
position: relative;
}
.swipe-wrap > div {
float:left;
width:100%;
position: relative;
}
.header{zoom:1;font-family:'DIN 1451 W02 Engschrift';text-transform:uppercase;position:relative;z-index:3;}.header:before,.header:after{content:"";display:table}.header:after{clear:both}.header .logo{width:250px;height:80px;float:left;}.header .logo img{width:250px;display:block}.header .logo .description{text-align:center;background:#083f66;color:#fff;font-size:12px;letter-spacing:1px;height:30px;line-height:30px}.header .timer{width:100%;padding-left:250px;padding-right:125px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;zoom:1;height:50px;color:#083f66;}.header .timer:before,.header .timer:after{content:"";display:table}.header .timer:after{clear:both}.header .timer .title{width:50px;float:left;padding:5px 5px 0 10px;font-size:13px}.header .timer .time{float:left;}.header .timer .time .countdown{zoom:1;}.header .timer .time .countdown:before,.header .timer .time .countdown:after{content:"";display:table}.header .timer .time .countdown:after{clear:both}.header .timer .time .countdown .item{float:left;margin:16px 30px 0 10px;position:relative;}.header .timer .time .countdown .item span{font-size:36px}.header .timer .time .countdown .item .label{position:absolute;top:-10px;font-size:12px}.header .timer .time .countdown .item .label-dd{right:-26px}.header .timer .time .countdown .item .label-hh{right:-28px}.header .timer .time .countdown .item .label-mm{right:-36px}.header .timer .time .countdown .item .label-ss{right:-38px}.header .campaign{float:right;}.header .campaign img{display:block;height:30px;margin-top:10px;margin-right:10px}.header .nav{border-top:1px solid #f2f2f2;width:100%;padding-left:250px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:13px;}.header .nav>ul{list-style:none;margin:0;padding:0;zoom:1;display:block;}.header .nav>ul:before,.header .nav>ul:after{content:"";display:table}.header .nav>ul:after{clear:both}.header .nav>ul>li{margin:0;float:left;padding:0;position:relative;}.header .nav>ul>li:hover>a{background:#083f66;color:#fff}.header .nav>ul>li:hover .subnav{display:block}.header .nav>ul>li>a{color:#083f66;text-decoration:none;display:block;padding:8px 10px 9px 10px;line-height:1em}.header .nav .subnav{position:absolute;display:none;left:0;top:30px;width:160px;background:#083f66;}.header .nav .subnav ul{display:block;list-style:none;margin:0;zoom:1;display:block;padding:0 0 10px 0;}.header .nav .subnav ul:before,.header .nav .subnav ul:after{content:"";display:table}.header .nav .subnav ul:after{clear:both}.header .nav .subnav ul li{margin:0;padding:5px 10px;display:block;}.header .nav .subnav ul li a{color:#fff;display:block;text-decoration:none;line-height:120%}#hero-swipe .slider{background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;height:600px;width:100%;}#hero-swipe .slider .text .inner{display:table-cell;vertical-align:middle;height:600px;padding:0 80px;}#hero-swipe .slider .text .inner h2{font-family:'DIN 1451 W02 Engschrift';font-size:56px;line-height:1.1em;margin:5px 0 15px 0;text-shadow:2px 1px 6px rgba(0,0,0,0.6);text-transform:uppercase;color:#fff}#hero-swipe .swipe-bullets{position:absolute;bottom:10px;text-align:center;width:100%;}#hero-swipe .swipe-bullets .bullet{background:#fff;width:8px;-webkit-border-radius:100%;border-radius:100%;display:inline-block;margin:0 6px;height:8px}#hero-swipe .swipe-bullets .active{background:#175583}#hero-swipe .swipe-controls .prev{position:absolute;width:35px;height:35px;left:0;top:50%;margin-top:-25px;overflow:hidden;cursor:pointer;}#hero-swipe .swipe-controls .prev img{display:block;width:35px;height:35px}#hero-swipe .swipe-controls .next{position:absolute;background:#000;width:35px;height:35px;right:0;top:50%;margin-top:-25px;overflow:hidden;cursor:pointer;}#hero-swipe .swipe-controls .next img{display:block;width:35px;height:35px}.home-container{max-width:900px;margin:0 auto;padding:10px 0;zoom:1;}.home-container:before,.home-container:after{content:"";display:table}.home-container:after{clear:both}.home-container .content{width:66.66666666%;float:left}.home-container .aside{width:33.333333333%;float:right}.social-content{background:#fff;}.social-content .social-title{padding:0 10px;font-family:'DIN 1451 W02 Engschrift';color:#083f66;font-size:32px;line-height:60px;text-transform:uppercase;}.social-content .social-title i.icon-twitter{float:right}.social-content .social-item-twitter{zoom:1;padding:15px 10px;border-top:1px solid #f0f0f0;}.social-content .social-item-twitter:before,.social-content .social-item-twitter:after{content:"";display:table}.social-content .social-item-twitter:after{clear:both}.social-content .social-item-twitter img{width:40px;float:left}.social-content .social-item-twitter .entry-content{padding-left:50px;font-size:12px;line-height:140%;color:#37618a;}.social-content .social-item-twitter .entry-content a{color:#083f66;font-weight:bold}.social-content .social-twitter-list{height:386px;overflow-y:scroll}.promos{zoom:1;clear:both;}.promos:before,.promos:after{content:"";display:table}.promos:after{clear:both}.promos .promo-item{width:33.3333333333%;float:left;overflow:hidden;}.promos .promo-item .lbox{position:relative}.promos .promo-item .img-box{width:100%;height:168px;overflow:hidden}.promos .promo-item img{width:100%;display:block;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transition-duration:1000ms;-moz-transition-duration:1000ms;-o-transition-duration:1000ms;-ms-transition-duration:1000ms;transition-duration:1000ms}.promos .promo-item .description{padding:8px;background:#155582;font-family:'DIN 1451 W02 Engschrift';font-size:13px;line-height:16px;color:#fff;text-transform:uppercase}.promos .promo-item .img-overlay{background:rgba(0,0,0,0);position:absolute;display:table;left:0;top:0;width:100%;height:168px;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;z-index:2;}.promos .promo-item .img-overlay .inner{text-align:center;display:table-cell;vertical-align:middle;height:168px;}.promos .promo-item .img-overlay .inner a{display:none}.promos .promo-item:hover .img-overlay{background:rgba(0,0,0,0.4);}.promos .promo-item:hover .img-overlay .inner a{display:inline-block;top:0}.promos .promo-item:hover .img-box img{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);transform:scale(1.2,1.2)}.footer .brands{background:#fff;text-align:center;padding:30px;}.footer .brands img{display:inline-block;width:80px;margin:0 20px}.footer .links{background:#03264d;padding-bottom:30px;}.footer .links .footer-logo{text-align:center;padding:20px 0 10px 0;}.footer .links .footer-logo img{width:80px}.footer .support{text-align:center;padding-bottom:10px;}.footer .support a{color:#fff;font-size:12px;text-decoration:none;margin:0 15px}.footer .footer-nav{text-align:center;}.footer .footer-nav a{margin:0 10px;font-family:'DIN 1451 W02 Engschrift';color:#fff;text-decoration:none;text-transform:uppercase}.footer .copy-right{text-align:center;color:#fff;font-size:11px;}.footer .copy-right a{color:#fff;font-weight:bold;text-decoration:none}.footer .tal-copy{text-align:center;font-size:11px;color:#fff}@media screen and (max-width:1200px){.container{max-width:1160px}}@media screen and (min-width:769px) and (max-width:996px){.home-container{max-width:768px}.social-content .social-twitter-list{height:318px}.promos .promo-item .img-box{height:130px}.promos .promo-item .img-overlay{height:130px;}.promos .promo-item .img-overlay .inner{height:130px}}@media screen and (max-width:768px){.header .logo{height:50px;}.header .logo .description{display:none}.header .timer{padding-left:0;padding-right:0;float:left;height:auto;}.header .timer .title{display:block;width:auto;font-size:12px}.header .timer .time{clear:left;height:auto;padding:0 0 0 5px;}.header .timer .time .countdown .item{margin:5px 30px 0 10px;}.header .timer .time .countdown .item span{font-size:24px}.header .nav{display:none}.promos .promo-item .img-box{height:130px}.promos .promo-item .img-overlay{height:130px;}.promos .promo-item .img-overlay .inner{height:130px}.home-container .content{width:100%}.home-container .aside{width:100%}#hero-swipe .slider{height:365px;}#hero-swipe .slider .text .inner{text-align:center;padding:0;height:365px;width:1000px;}#hero-swipe .slider .text .inner h2{font-size:32px}}@media screen and (max-width:480px){.header .logo{width:65%;height:auto;}.header .logo img{width:100%}.header .timer .title{font-size:10px;padding:5px 0 0 10px}.header .timer .time .countdown .item{margin:0 5px;}.header .timer .time .countdown .item span{font-size:16px}.header .timer .time .countdown .item .label{font-size:11px;position:static;top:0}.header .campaign{width:35%;}.header .campaign img{margin-right:5px;margin-top:5px;float:right;width:80%;height:auto}.home-container .social-content .social-twitter-list{height:auto;overflow:hidden}#hero-swipe .slider{height:375px;}#hero-swipe .slider .text .inner{height:375px;vertical-align:bottom;}#hero-swipe .slider .text .inner .main-button{display:block;width:70%;margin:0 auto;padding:0;line-height:35px}#hero-swipe .swipe-bullets{display:none}#hero-swipe .swipe-controls .prev{top:initial;bottom:0;margin-top:0}#hero-swipe .swipe-controls .next{top:initial;bottom:0;margin-top:0}.promos .promo-item{width:100%;}.promos .promo-item .img-box{height:230px}.promos .promo-item .img-overlay{height:230px;}.promos .promo-item .img-overlay .inner{height:230px}}